<div class="container">
  <div class="row product-list" style="margin: 1em 0;">

    <!-- START : Product Card -->
    <div class="col-sm-12 col-md-6 col-lg-4 product-list__item" *ngFor="let product of products; let i = index;">
      <div class="card mb-4 shadow-sm pd-5">
        <div class="product-list__image">
          <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
        </div>

        <div class="card-body">
          <h4>{{product.name}}</h4>
          <p class="card-text">{{product.description}}</p>
          <div class="text-center">
            <button type="button" class="btn btn-sm" [ngClass]="this.isAdded[i] ? 'btn-success' : 'btn-outline-secondary'" (click)="addToCart($event, product.id)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END : Product Card -->

  </div>
</div>
